<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <div style="display: flex; align-items: center; gap: 25px;">
        <a href="/" style="font-size: 35px; text-decoration: none; font-weight: bold; color: black">Chat app</a>
        <a href="/" style="font-size: 20px; color: black">Login</a>
        <a href="/signup" style="font-size: 20px; color: black">Signup</a>
    </div>    
    <div>
        <h2>Signup</h2>
        <form action="/signup" method="post">
            <div style="display: flex; flex-direction: column; max-width: 25%; gap: 4px;">
                <label style="font-size: 18px;" for="email">Email</label>
                <input style="height: 25px;" type="text" name="email" id="email" required>
                <label style="font-size: 18px;" for="username">Username</label>
                <input style="height: 25px;" type="text" name="username" id="username" required>
                <label style="font-size: 18px;" for="password">Password</label>
                <input style="height: 25px;" type="password" name="password" id="password" required><br>
                <button style="font-size: 20px;" type="submit">Signup</button>
            </div>
        </form>
        <p><%= typeof message !== 'undefined' ? message : '' %></p>
    </div>
</body>
</html>